.container {
  padding: .1rem;
  background-color: #fff;
}
.container h3 {
  font-size: 20px;
  color: #5a5a5a;
  line-height: 40px;
}
.container .item_title {
  font-size: .12rem;
  color: #999;
  padding-bottom: .1rem;
}
.container .item_title span{
  padding: 0;
}
.container .item_content img:first-of-type {
  width: 1.2rem;
  height: 1.2rem;
  float: right;
}
.container .item_content img:last-of-type {
  display: block;
  margin: 0 auto;
}
.container button {
  margin-top: .2rem;
  width: 100%;
  font-size: .14rem;
  color: #fff;
  background-color: #f27b04;
  border-radius: .05rem;
}
.container .item_pic {
  width: 100%;
  background-color: #fff;
  padding-top: 20px;
}
.container .item_pic img {
  display: block;
  width: 100%;
}
.container .item_price{
  font-size: .16rem;
  color: #ff6c00;
  line-height: .3rem;
  font-weight: bold;
}
.item_cities {
  margin-top: .1rem;
}
.item_cities ul {
  width: 1.4rem;
  padding: .1rem;
  margin: 0 auto;
  box-shadow: 1px 1px 0 1px #ccc;
}
.item_cities ul li {
  border-bottom: 1px dashed #c0c0c0;
}
.item_cities ul a {
  width: 100%;
  height: .24rem;
  line-height: .24rem;
  font-size: .14rem;
  padding: 0 .1rem;
  font-size: .16rem;
}
.item_cities ul span {
  float: right;
  color: #f27b04;
}
.item_comment {
  background-color: #fff;
}
.item_comment .publish {
  padding: 10px;
  padding-left: 0;
  font-size: 18px;
}
.item_comment textarea {
  height: 70px;
  width: 100%;
  padding: 0;
}
.item_comment .ctrl input {
  height: 100%;
  float: right;
  background-color: #FF841D;
  color: #fff;
  border: none;
}
.comment_list li {
  padding: 20px 0;
  position: relative;
}
.comment_list li .userimg {
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
}
.comment_list li .userimg img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.comment_list li .con {
  padding-left: 50px;
  font-size: .14rem;
}
.comment_list li .con span:first-of-type {
  color: #5997c0;
}
.comment_list li .con span:last-of-type {
  float: right;
  color: #606060;
}
.comment_list li .con .info {
  color: #606060;
}
.flist{
  font-size: .16rem;
  background-color: #fff;
}
#disstorck{
  width: 1.6rem;
  margin: 0 auto;
  padding: .1rem;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
}
li{
  border-bottom: 1px dashed #c0c0c0;
}
.flist ul li a {
  display: block;
  width: 100%;
}
.flist ul li a span {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 .1rem;
}
.flist ul li a span strong {
  float: right;
  color: #f27b04;
  font-weight: 400;
}
.tit {
  padding: .1rem;
  padding-left: 0;
  font-size: .18rem;
}
.ui-border-b{
  font-size: .14rem;
}
.cu-content-pl .list ul li {
  padding: .2rem 0;
}
.cu-content-pl .list ul li .userimg {
  width: .4rem;
  height: .4rem;
  position: absolute;
  
}
.cu-content-pl .list ul li .userimg img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.name,.content{
  padding-left: .5rem;
  overflow: hidden;
}
.name .username{
    color: #5997c0;
    font-size: .14rem;
    float: left;
}
.name .time{
  float: right;
  font-size: .14rem;
  color: #ccc;
}
.name .content{
  color: #333;
  font-size: .12rem;
}