<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>慢慢买商品分类列表</title>
    <link rel="icon" href="./1.ico">
    <link rel="stylesheet" href="./lib/mui/css/mui.css">
    <link rel="stylesheet" href="./lib/fa/css/font-awesome.css">
    <link rel="stylesheet" href="./css/media.css">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/productlist.css">

</head>

<body>

    <div class="mui-scroll-wrapper">
        <div class="mui-scroll">
            <!-- 头部 -->
            <div class="mmbuy_header">
                <!-- 头部上面 -->
                <div class="mmbuy_htop mui-clearfix">
                    <a href="index.html" class="mui-pull-left">
                        <img src="./images/header_logo.png" alt="">
                    </a>
                    <div class="mui-pull-right">
                        <img src="./images/header_app.png" alt="">
                    </div>
                </div>
                <!-- 头部下面 -->
                <div class="mmbuy_hbottom">
                    <div class="mhb_content">
                        <input type="text" placeholder="请输入你想比价的商品" ,>
                    </div>
                    <button class="but">搜索</button>

                </div>
            </div>
            <!-- 面包屑导航 -->
            <div class="bread_nav mui-clearfix">
                <div class="bn_left mui-full-left">
                    <a href="index.html">首页 &gt;</a>
                    <a href="category.html">全部分类 &gt;</a>
                    <a href="#" class="category_name"></a>
                    <button class="mui-btn mui-btn-outlined">筛选</button>
                </div>
            </div>
            <!-- 商品列表 -->
            <div class="mmbuy_cheap">
                <div class="mmbc_content">
                    <ul class="mui-table-view">
                        <!-- 模板引擎动态渲染 -->
                    </ul>
                </div>
            </div>
            <!-- 翻页 -->
            <div class="turn_page">
                <div class="prev">
                    <button>上一页</button>
                </div>
                <div class="page_center">
                    <select id="page">
                        <!-- 模板引擎渲染 -->
                    </select>
                </div>
                <div class="next">
                    <button>下一页</button>
                </div>

            </div>
            <!-- 连接 -->
            <div class="mmbuy_link">
                <ul class="mui-clearfix">
                    <li>
                        <a href="javascript:;">登录</a>
                    </li>
                    <li>
                        <a href="javascript:;">注册</a>
                    </li>
                    <li>
                        <a href="javascript:;" id="scrollToTop">
                            <img src="http://www.zuyushop.com/wap/images/top.jpg" alt="">返回顶部</a>
                    </li>
                </ul>
            </div>
            <!-- 底部 -->
            <div class="mmbuy_footer">
                <p>
                    <a href="#">手机App下载 </a>
                    <span>慢慢买手机版</span> -- 掌上比价平台
                </p>
                <p>m.manmanbuy.com</p>
            </div>


        </div>
    </div>

    <script src="./lib/mui/js/mui.js"></script>
    <script src="./lib/artTemplate/template-web.js"></script>
    <script src="./lib/zepto/zepto.min.js"></script>
    <script src="./js/common.js"></script>
    <script src="./js/productlist.js"></script>
    <script type='text/html' id="tpl">
        {{each result v i}}
        <li class="mui-table-view-cell mui-media" data-productid="{{v.productId}}">
            <a href="javascript:;">
                <div class="mui-media-object mui-pull-left">
                    {{@v.productImg}}
                </div>
                <div class="mui-media-body">
                    {{v.productName}}
                    <span class="big">{{v.productPrice}}</span>
                    <p class='mui-ellipsis small'>
                        {{v.productQuote}}{{v.productCom}}
                    </p>
                </div>
            </a>
        </li>
        {{/each}}
    </script>
    <script type='text/html' id="tpl2">
        <% for(var i=1; i<=pageMax ; i++) {%>
            <option value="<%= i %>" <%= pageid==i?'selected':''%> ><%= i %>/{{pageMax}}</option>
        <% } %>
        %>
    </script>
</body>

</html>